.HeroBackground {
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-image: url('../images/Home/Hero image option 1 edit 2.png');
    background-size: cover;
}

.LeftContainer {
    flex: 50%;
    height: 300px;
    color: #707070;
    padding-left: 10%;
}

.HeroHeader {
    font-size: 1.2rem;
}

.HeroBody {
    font-size: 1rem;
}

.Right {
    flex: 50%;
}

.Future {
    color: #43C0F6;
}

.ButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    justify-content: left;
    padding-left: 20px;;
    
}

.LearnMoreButton {
    padding: 9px 30px;
    margin: 0px 28px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color: #707070;
    border-color: #43C0F6;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.SignUpButton {
    padding: 9px 40px;
    margin: 0px 28px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #F91C85;
    border-radius: 8px;
    border-width: 2px;
    color: white;
    border-color: hotpink;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

