.image3 {
    background-image: url("../images/image3.png");
    background-size: 100% 100%;
    width: 1920px;
    height: 653px;
    margin-top: 1300px;
    
}

.heading3 {
    filter: drop-shadow(10px 10px 24px rgba(255, 255, 255, 0.25));
    font-size: 40px;
    color: white;
    margin-left: 800px;
    position: absolute;
    margin-top: 100px;
    
}

.review {
    position: absolute;
    width: 708px;
    height: 278px;
    margin-left: 606px;
    margin-top: 200px;
    background: #FFFFFF;
/* dropshadow2 */
    box-shadow: 0px 0px 20px 10px rgba(0, 118, 190, 0.2);
    border-radius: 20px;
}

.message {
    position: absolute;
    width: 474px;
    height: 112px;
    margin-left: 125px;
    margin-top: 59px;
    font-size: 24px;
}

.help {
    position: absolute;
    width: 363px;
    height: 56px;
    margin-left: 800px;
    margin-top: 100px;
    color: blue;
    font-weight: 400;
    font-size: 42px;
    font-family: 'Roboto';

}

.message2 {
    position: absolute;
    width: 600px;
    height: 19px;
    margin-left: 680px;
    margin-top: 200px;
    font-size: 18px;
}

.contactbtn {
    composes: btn1 from './Container1.module.css';
    position: absolute;
    margin-left: 658px;
    margin-top: 300px;
}

.faqbtn {
    composes: contactbtn;
    margin-left: 1000px;
    background-color: white;
    color: black;
    
}